<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="myStyle.css" type="text/css"/>
    <meta charset="UTF-8">
    <title>Tabloid</title>
    <header>
        <h1>Politiken</h1>


    </header>
</head>
<body>
    <main>
        <div id="left">
            <div id="div1">
                <img src="trump.jpg">
                <a href="#"><h2>I dag skulle Trumps opgør med big tech for alvor gå i gang, men ekspræsidenten er taberdømt på forhånd</h2></a>
                <a href="#">kultur</a>
                <a href="#">Læs mere</a>
                <p>Tusind venter i kø at hente Donald Trumps nye app</p>
            </div>
            <div id="div3">
                <img src="science.jpg">
                <a href="#" ><h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed justo lectus, suscipit et purus vitae, mollis consequat dolor.</p>
                <a href="#" >Lorem ipsum</a>
                <a href="#" >Consectetur adipiscing elit</a>
            </div>
        </div>
        <div id="right">
            <div id="div2">
                <img src="food.jpg">
                <a href="#"><h2>Tillidsmand har svært ved at se en vej ud af Lonning-krise: En ny borgmester ville give en frisk start</h2></a>
                <a href="#">København</a>
                <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed justo lectus, suscipit et purus vitae, mollis consequat dolor. Nullam gravida leo erat, et suscipit ipsum consectetur quis.</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed justo lectus, suscipit et purus vitae, mollis consequat dolor.</p>
            </div>
        </div>
    </main>

</body>
</html>